name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, "*"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Set core.autocrlf on windows
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf true

      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Set debug on windows
        if: matrix.os == 'windows-latest'
        run: set DEBUG=*

      - run: yarn test

      - name: pkg-pr-new
        if: matrix.os == 'ubuntu-latest'
        run: yarn pkg-pr-new publish

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
